:root {
  --background: #f0ebe3;
  --background-2: #e4dccf;
  --wall-node: black;
  --starting-node: red;
  --target-node: blue;
  --path-color: yellowgreen;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-divider {
  background-color: lightgray;
  width: 3px;
  height: 100%;
  border-radius: 50px;
}

#grid-wrapper {
  flex: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-cell__clear {
  background-color: var(--background);
  height: 1vw;
  width: 1vw;
}

.grid-cell__clear:hover {
  background-color: var(--background-2);
}

.grid-cell__wall {
  background-color: var(--wall-node);
  height: 1vw;
  width: 1vw;
}

.grid-cell__starting {
  background-color: var(--starting-node);
  height: 1vw;
  width: 1vw;
}

.grid-cell__target {
  background-color: var(--target-node);
  height: 1vw;
  width: 1vw;
}

.grid-cell_path {
  background-color: var(--path-color);
  height: 1vw;
  width: 1vw;
}