:root {
    --light-1: #F0EBE3;
    --light-2: #E4DCCF;
    --emphasis-1: #7D9D9C;
    --emphasis-2: #576F72;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#grid-wrapper {
    overflow: auto;
    flex: 1;
    overflow: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-grid {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-cell {
    background-color: var(--light-1);
    height: 1vw;
    width: 1vw;
}

.grid-cell:hover {
    background-color: var(--light-2);
}

.grid-cell__wall {
    background-color: black;
}