:root {
  --light-1: #f0ebe3;
  --light-2: #e4dccf;
  --emphasis-1: #7d9d9c;
  --emphasis-2: #576f72;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-divider {
  background-color: lightgray;
  width: 3px;
  height: 100%;
  border-radius: 50px;
}

#grid-wrapper {
  flex: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-grid {
  max-height: 2000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-cell__clear {
  background-color: var(--light-1);
  height: 1vw;
  width: 1vw;
}

.grid-cell__clear:hover {
  background-color: var(--light-2);
}

.grid-cell__wall {
  background-color: black;
  height: 1vw;
  width: 1vw;
}

.grid-cell__starting {
  background-color: red;
  height: 1vw;
  width: 1vw;
}

.grid-cell__target {
  background-color: blue;
  height: 1vw;
  width: 1vw;
}

.grid-cell_path {
  background-color: green;
  height: 1vw;
  width: 1vw;
}